@font-face {
    font-family: hoefler;
    src: url(assets/hoefler-text-regular.ttf);
}
button {
    border: 0;
    color: black;
}
h1 {
  font-size: 2.5rem;   /* 40px */
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
h2 { /* h4 style */
  font-size: 1.5rem;   /* 24px */
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.tab-font { /* h5 style */
  font-size: 1.25rem;  /* 20px */
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
h3 { /* h4 style */
  font-size: 1.5rem;   /* 24px */
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
h4 { /* h6 style */
  font-size: 1rem;     /* 16px */
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
i { /* h5 style */
  font-size: 1.25rem;  /* 20px */
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.tab-selected {
    background-color: var(--primary-color);
    color: white;
    font-size: 24px;
}
.tab-std {
    width: 16.666667%;
    border-right: 3px solid var(--grey-2);
}
/* change width and border setting at med or smaller */
@media (max-width: 767px) {
    .tab-std {
        width: 100%;
        border-top: 3px solid var(--grey-2);
        border-right: none;
    }
}
/* first tab in the line (no top outline when small) */
.tab-first {
    width: 16.666667%;
    border-right: 3px solid var(--grey-2);
}
@media (max-width: 767px) {
    .tab-first {
        width: 100%;
        border-right: none;
    }
}
/* last tab in the line (no right outline when large) */
.tab-last {
    width: 16.666667%;
}
@media (max-width: 767px) {
    .tab-last {
        width: 100%;
        border-top: 3px solid var(--grey-2);
        border-bottom: 3px solid var(--grey-2);
    }
}
.btn-tab {
    height: 13vh;
}
.hoefler-header {
    font-family: hoefler;
    letter-spacing: 1pt;
    margin: 0;
}
.body-text, li {
    font-family: Arial, Helvetica, sans-serif;
    size: 16pt;
    margin: 0;
}
.button-links {
    color: var(--primary-color);
    background-color: white;
}
.indented {
    margin-left: 30px;
}
.tab-block {
    background-color: var(--primary-color);
    color: white;
    border-top: 3px solid white;
}
#divImgContainer {
    background-color: var(--grey-1);
    height: 85vh;
    overflow: hidden;
    position: relative;
}
#divSmallImgContainer {
    background-color: var(--grey-1);
    height: 72vh;
    overflow: hidden;
    position: relative;
}
#imgHeadshot {
    border: 1px solid var(--grey-2);
    height: 150%;
    object-fit: cover;
    object-position: bottom;
}
#imgSmallHeadshot {
    border: 1px solid var(--grey-2);
    height: 150%;
    object-fit: cover;
    object-position: bottom;
}
#divTitleBarContainer {
    position: absolute;
    top: 0;
    left: 0;
}
#divTitleBar {
    background-color: var(--primary-color);
    color: white;
}
#divBar {
    height: 2vh;
    background-color: var(--grey-2);
}
#divTabBlock {
    min-height: 75vh;
    background-color: var(--primary-color);
}
#divBottomCap {
    height: 5vh;
    background-color: var(--grey-1);
}
#divContentBlockContainer {
    color: white;
}





